//COLORS
$color-primary: #4C8077;
$color-primary-light: #C3FCF1;
$color-primary-dark: #005247;

$color-secondary: #FF941E;

$color-background-primary:#F9F871;
$color-background-secondary:#C1C23C;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-height: 30rem;
$grid-width: 30rem;
