.canvas {
  display: grid;
  justify-content: center;
  @include clearfix;
 
    
    &__grid {
      height: 50rem;
      width: 50rem;
      display: grid;
      // grid-template-columns: repeat(2, auto);
    }

   &__cell{
    display: flex;
    border: solid;
    border-width: thin;
   
    
    &.paint{
      background-color: $color-black;
    }
   }

  
}
