.canvas {
  display: grid;
  justify-content: center;
  @include clearfix;
 
    
    &__grid {
      height: 45rem;
      width: 45rem;
      display: grid;
    }

   &__cell{
    display: flex;
    border: solid;
    border-width: thin;
   
    
    &.paint{
      background-color: $color-black;
    }
   }

  
}
