.btn {
  background: $color-primary-dark;
  color: $color-primary-light;


&.active {
  color: $color-black;
  background-color: $color-secondary;
}

 
}

.controls__btn{
  &:hover {
    transform: translateY(-.5rem);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}
