.controls__btn{
	color: inherit;
	border: none;
	padding: 0;
  width: fit-content;
	font: inherit;
	outline: none;
  background: $color-background-secondary;
}

.btn{
  background: $color-primary-dark;
  color: $color-primary-light;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .3rem;
  border: .2rem solid;
  border-radius: .7rem;
  cursor: pointer;
  &:hover {
    transform: translateY(-.5rem);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &.active {
    color: $color-black;
    background-color: $color-secondary;
  }
 
}

.label,
.input__slider{
  margin-left: 1rem;
  margin-right: 1rem;
}

button{
  margin-top: 1.5rem;
  font-weight: bold;
}

.btn__color__brush,
.btn__color__canvas {
  margin-bottom: .5rem;
}
  
  